<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="secondary">

    <ion-virtual-scroll [items]="items" approxItemHeight="320px">
        <ion-card *virtualItem="let item; let itemBounds = bounds;" color="light">
            <ion-card-header color="light">
                <ion-icon style="float: right;" name="hammer-outline" (click)="presentModal(item)"></ion-icon>
                <ion-card-title>{{item.name}}</ion-card-title>
                <div class="subtitle-container">
                    <p slot="start">Stock: {{item.stock}}</p>
                    <p slot="end">Price: {{item.price | currency:'USD':'symbol':'1.2-2'}}</p>
                </div>
            </ion-card-header>
            <ion-card-content color="light">
                <ion-item>
                    <p> {{item.description}}</p>
                </ion-item>
            </ion-card-content>
        </ion-card>

    </ion-virtual-scroll>










    <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="warning">
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>